body {
  background: #edf2f7 !important;
}

.post a {
  text-decoration: underline !important;
  color: blue !important;
}
.post ul,
.post ol {
  margin-left: 1rem;
}
.post ul .ql-indent-1 {
  margin-left: 1rem;
  list-style: circle;
}
.post ul .ql-indent-2 {
  margin-left: 2rem;
  list-style: square;
}

.post ol .ql-indent-1 {
  margin-left: 1rem;
  list-style: lower-latin;
}

.user-image,
.loading-image {
  background: transparent
    url("https://i.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.webp") center
    no-repeat;
  background-color: white;
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 18px !important;
}

h3 {
  font-size: 16px !important;
}
